{% extends 'base.html' %}
{% load static %}
{% block active_pocetna %}
    <li class="nav-item active">
{% endblock %}

{% block title %}
    <title>InNekretnine</title>
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div>
                <div class="card-title text-center text-danger">
                    <br/>
                    <h2>IN NEKRETNINE - ŠABAC</h2>
                    <h4>Registarski broj posrednika 400</h4>
                </div>

                {% for nekretnina in nekretnine %}
                    <div class="row mb-3 h-25">
                        <div class="col-md-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {% if nekretnina.thumbnail %}
                                                <a href="{% url 'detail' nekretnina.pk %}">
                                                    <img src="/{{ nekretnina.thumbnail.url }}" alt="Nema slike">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'detail' nekretnina.pk %}">
                                                    <img src="{% static 'images/No_image_available.svg' %}">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6  card-body">
                                            <div class="list-title">
                                                <ul class="list-inline list-unstyled">
                                                    <li class="list-inline-item"><a href="{% url 'detail' nekretnina.pk %}" class="text-danger"><h3>{{ nekretnina.tip }}</h3></a></li>
                                                </ul>
                                            </div>
                                            <div class="list-location">
                                                <i class="fa fa-map-marker text-danger"></i> {{ nekretnina.mesto }}
                                            </div>
                                            {% if nekretnina.lokacija != '-' %}
                                            <div class="list-location">
                                                <i class="fa fa-map-marker text-danger"></i> {{ nekretnina.lokacija }}
                                            </div>
                                            {% endif %}
                                            <div class="list-descrip">
                                                <small>{{ nekretnina.opis }}</small>
                                            </div>
                                        </div>
                                        <div class="col-md-3 border-left card-body">
                                            <ul class="list-unstyled">
                                                <li><h3>Cena: {{ nekretnina.cena }} EUR</h3></li>
                                                <li class="text-secondary"><small>Površina: {{ nekretnina.povrsina }} m<sup>2</sup></small></li>
                                            </ul>
                                            <a href="{% url 'detail' nekretnina.pk %}" class="btn btn-outline-danger">Detaljnije</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block specijalna_ponuda %}
    {% include 'specijalna_ponuda.html' with specijalna_ponuda=specijalna_ponuda %}
{% endblock %}